body {
  margin: 0;
  padding: 0;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  justify-items: center;
  font-size: 18px;
  font-weight: 600;
}

.black-bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
  display: flex;
  justify-content: center;
  padding: 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}

.show-modal {
  visibility: visible;
  opacity: 1;
}

.white-bg {
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.white-bg span {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.white-bg button {
  width: 50px;
  background-color: red;
  color: white;
  border-radius: 5px;
  border: 0;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 5px;
  border-left: 1px solid black;
}

.main {
  padding: 100px 20px;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
}

#test-btn {
  width: 70px;
  height: 35px;
  margin-top: 10px;
  background-color: brown;
  border: 0 solid white;
  border-radius: 5px;
  color: white;
}

.btn-middle {
  margin-top: 10px;
  background-color: brown;
  border: 0px solid white;
  border-radius: 5px;
  color: white;
  padding: 5px;
  transition: background-color 0.3s, transform 0.1s;
}

.btn-middle:first-child {
  margin-right: 50px;
  background-color: cornflowerblue;
}

.btn-middle:hover {
  background-color: gray;
}

.btn-middle:active {
  background-color: darkgrey;
  transform: scale(0.95);
}

.threeSix:nth-child(1) {
  align-items: center;
}

.quiz span,
input {
  margin-bottom: 10px;
}

.quiz input {
  padding: 5px;
}

.quiz button {
  background-color: brown;
  border: 0px solid white;
  border-radius: 5px;
  color: white;
  padding: 5px;
}
